doctype html
html(lang='en')
  head
    //if lt IE 9
      script(src='static/assets/html5shiv.min.js')
    title Tilte
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', type='text/css', href='static/css/styles.min.css')
  body
    main
      .row.align-center
        .col-xs-12
          h1 House Styles | Builtvisible 
          h4 JavaScript E6, SCSS Styles, Pug HTML and gulp 4 Task manager.
          h6 By Alvaro Fernandez
        .col-xs-12.col-sm-8.offset-sm-2
          p Using #[code grids.scss] in a mobile first fashion to compute the number of columns based on html classes starting with #[code .col-] followed by the break point #[code -xs] for mobile #[code -sm] for tablet and #[code -md] for desktop and finally the ammount of columns that required #[code -12] for a full set, #[code -6] for half and so on, and the option to add offset by using the class e.j: #[code .offset-md-2]
      .row
        .col-xs-12.col-sm-6.col-md-4
          h2 1 mobile, 2 tablet, 3 desktop
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ratione aspernatur ea fugiat sapiente obcaecati dicta nulla, aperiam. Modi omnis debitis libero, eaque porro odit eum itaque saepe perspiciatis facilis.
        .col-xs-12.col-sm-6.col-md-4
          h2 1 mobile, 2 tablet, 3 desktop
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ratione aspernatur ea fugiat sapiente obcaecati dicta nulla, aperiam. Modi omnis debitis libero, eaque porro odit eum itaque saepe perspiciatis facilis.        
        .col-xs-12.col-sm-12.col-md-4
          h2 1 mobile, 1 tablet, 3 desktop
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ratione aspernatur ea fugiat sapiente obcaecati dicta nulla, aperiam. Modi omnis debitis libero, eaque porro odit eum itaque saepe perspiciatis facilis.


      .row.center
        footer
          ul.social.sharelinks
            li
              a.link(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=SBLINK', title='Share on Facebook')
                i.icon-facebook
            li
              a.link(target='_blank', href='https://twitter.com/intent/tweet?text=SBLINK', title='Share on Twitter')
                i.icon-twitter
            li
              a.link(target='_blank', href='https://www.linkedin.com/shareArticle?mini=true&url=SBLINK&title=SBTITLE&summary=SBDESC&source=', title='Share on Linkedin')
                i.icon-linkedin
    script(src='static/js/main.min.js')
